.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: pink;
  color: white;
}

.topnav input[type="text"] {
  float: left;
  padding: 6px;
  border: pink;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.social a:hover {
  opacity: 0.8;
}

input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

button {
  float: left;
  width: 20%;
  padding: 10px;
  background: pink;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

button:hover {
  filter: contrast(300%);
}

img {
  max-width: 100%;
  height: auto;
}
